# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.AppGM.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\White Master\Desktop\MORE THINKS\ProgrammingC#\AplicacionGM\AppGM\.idea\.idea.AppGM\.idea/dataSources/
/dataSources.local.xml
